/* venus */
#venus {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background: radial-gradient(circle at 15% 20%, hsl(45, 100%, 75%), hsl(45, 100%, 10%));
	width: 500px;
	height: 500px;
	transform: rotate(-20deg);
}

.venus-border {
	box-shadow: -12px -12px 24px -8px hsla(0, 0%, 100%, 0.75);
}

.venus-border-inset {
	box-shadow: inset 4px 4px 24px hsla(0, 0%, 100%, 0.95);
}

/* surface */
#venus-surface-color-1 {
	animation: spin-surface 20s linear infinite both;
}

#venus-surface-color-2 {
	animation: spin-surface 22s linear infinite both;
}

#venus-surface-color-3 {
	animation: spin-surface 18s linear infinite both;
	transform: translateX(10%);
}

#venus-surface-color-4 {
	animation: spin-surface 24s linear infinite both;
	transform: translateY(15%);
}
