.details {
	z-index: 1;
	color: var(--highlight);
	text-shadow: 5px 5px 5px var(--background-shadow-30);
	display: flex;
	flex-direction: column;
}
.details-name {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-shadow: 5px 5px 5px var(--background-primary-30);
	position: relative;
	top: 33px;
	color: var(--primary);
	font-size: 4em;
	text-align: center;
	pointer-events: none;
}
.details-outer {
	background-color: var(--background-tertiary-60);
	border: 2px solid var(--primary);
	border-radius: 3px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: inset 0 0 30px var(--primary);
}
.details-inner {
	margin: 10px;
	border: 2px solid var(--background-primary-30);
	border-radius: 5px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
.size {
	box-shadow: inset 0 0 5px var(--background-primary-30);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	padding: 3px;
	padding-left: 10px;
}
.details-inner .size div {
	flex: 1;
}
.details.inner .size {
	display: flex;
}
.scroll-container-details {
	height: inherit;
	overflow: auto;
}
.facts-container {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
}
.facts-container ul {
	margin-left: 5%;
}
.facts-container li {
	list-style-type: circle;
}
.moons-container {
	margin-top: auto;
}
.moons-container header {
	box-shadow: inset 0 0 5px var(--background-primary-30);
	flex: 1 1 100%;
	text-align: left;
	padding-left: 3%;
}
.moons-container header h3 {
	width: 100%;
	margin: 8px 0;
	text-shadow: 3px 3px 1px var(--background-shadow-30);
}
.moons-container section {
	padding-top: 6px;
	padding-bottom: 6px;
	flex: 1 1 50%;
	flex-wrap: wrap;
	justify-content: flex-start;
	max-height: 95%;
	overflow: auto;
}

/* extra-large screens */
@media screen and (min-width: 1200px) {
}

/* large screens */
@media screen and (min-width: 1024px) {
}

/* small screens */
@media screen and (min-width: 768px) {
}

/* tablets */
@media screen and (min-width: 480px) {
}
