/* 
dark to light
Hex     	RGB
#002439	(0,36,57)
#005066	(0,80,102)
#4e7988	(78,121,136)
#78cce2	(120,204,226)
#e4eff0 (228,239,240)
*/

:root {
	/* COLORS */
	--primary: #78cce2; /* RGB:(120,204,226) */
	--secondary: #4e7988; /* RGB:(78,121,136) */
	--tertiary: #005066; /* RGB:(0,80,102) */
	--shadow: #002439; /* RGB:(0,36,57) */
	--highlight: #e4eff0; /* RGB:(228,239,240) */
	/* opacity on background color variables is 30% */
	--background-primary-30: #78cce24d;
	--background-secondary-30: #4e79884d;
	--background-tertiary-30: #0050664d;
	--background-shadow-30: #0024394d;
	--background-highlight-30: #e4eff04d;
	/* opacity on background is 60% */
	--background-primary-60: #78cce299;
	--background-secondary-60: #4e798899;
	--background-tertiary-60: #00506699;
	--background-shadow-60: #00243999;
	--background-highlight-60: #e4eff099;

	/* VALUES */
	--1: 0.25rem;
	--2: 0.5rem;
	--3: 0.75rem;
	--4: 1rem;
	--5: 1.25rem;
	--6: 1.5rem;
	--7: 1.75rem;
	--8: 2rem;
	--9: 2.25rem;
	--10: 2.5rem;
	--11: 2.75rem;
	--12: 3rem;
}

body {
	margin: 0;
	font-family: "JetBrains Mono", monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
	width: var(--2);
}
::-webkit-scrollbar-track {
	background: var(--background-secondary-30);
	border-bottom-right-radius: 3px;
}
::-webkit-scrollbar-thumb {
	background: var(--background-primary-30);
	border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--primary);
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#error-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
