/* earth */
#earth {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background: radial-gradient(circle at 15% 20%, hsl(200, 100%, 50%), hsl(240, 100%, 10%));
	box-shadow: 20px 20px 200px 0 black;
	width: 500px;
	height: 500px;
}

.earth-border {
	box-shadow: -12px -12px 24px -8px hsla(210, 100%, 75%, 0.75);
}

.earth-border-inset {
	box-shadow: inset 4px 4px 24px hsla(210, 100%, 75%, 0.95);
}

/* surface */
#earth-surface-color-1 {
	animation: spin-surface 20s linear infinite both;
}

#earth-surface-color-2 {
	animation: spin-surface 22s linear infinite both;
	transform: translateY(5%);
}

#earth-surface-color-3 {
	animation: spin-surface 18s linear infinite both;
	transform: translateY(10%);
}

#earth-surface-color-4 {
	animation: spin-surface 24s linear infinite both;
	transform: translateY(15%);
}

/* moon */
#earth-moon {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(0, 0%, 95%), hsl(0, 0%, 10%));
	box-shadow: 40px 40px 50px 0 rgba(0, 0, 0, 0.5);
	border-radius: 100%;
	width: 125px;
	height: 125px;
	animation: resize-in-orbit-small 60s 15s ease-in-out infinite both;
}

/* moon surface */
#earth-moon-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#earth-moon-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

#earth-moon-orbit {
	animation: earth-moon-orbit 60s ease-in-out infinite both;
}

.earth-moon-border-inset {
	box-shadow: inset 1px 1px 6px hsla(210, 100%, 75%, 0.95);
}

/* animations */
@keyframes earth-moon-orbit {
	from {
		transform: matrix(1, 0, 0, 1, 500, -150);
		z-index: 1;
	}

	50% {
		transform: matrix(1, 0, 0, 1, -500, 150);
		z-index: 1;
	}

	51% {
		transform: matrix(1, 0, 0, 1, -500, 150);
		z-index: -1;
	}

	to {
		transform: matrix(1, 0, 0, 1, 500, -150);
		z-index: -1;
	}
}
