/* neptune */
#neptune {
	background: radial-gradient(circle at 15% 20%, hsl(220, 100%, 50%), hsl(240, 100%, 10%));
}

.neptune-border {
	box-shadow: -12px -12px 24px -8px hsla(210, 100%, 65%, 0.75);
}

.neptune-border-inset {
	box-shadow: inset 4px 4px 24px hsla(210, 100%, 65%, 0.95);
}

/* surface */
#neptune-surface-color-1 {
	animation: spin-surface 20s linear infinite both;
}

#neptune-surface-color-2 {
	animation: spin-surface 22s linear infinite both;
}

#neptune-surface-color-3 {
	animation: spin-surface 18s linear infinite both;
	transform: translateX(10%);
}

/* moons */
#neptune-moon-1 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(0, 0%, 100%), hsl(0, 0%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: neptune-moon-1-resize 100s 25s ease-in-out infinite both;
}

/* moon surface */
#neptune-moon-1-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#neptune-moon-1-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

#neptune-moon-1-orbit {
	animation: moon-orbit-medium 100s ease-in-out infinite both;
}

/* moon 2 */
#neptune-moon-2 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(0, 0%, 100%), hsl(0, 0%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: neptune-moon-2-resize 88s 22s ease-in-out infinite both;
}

/* moon surface */
#neptune-moon-2-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#neptune-moon-2-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

#neptune-moon-2-orbit {
	animation: moon-orbit-small 88s ease-in-out infinite both;
}

/* moon 3 */
#neptune-moon-3 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(0, 0%, 100%), hsl(0, 0%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: neptune-moon-3-resize 76s 19s ease-in-out infinite both;
}

/* moon surface */
#neptune-moon-3-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#neptune-moon-3-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

#neptune-moon-3-orbit {
	animation: moon-orbit-x-small 76s ease-in-out infinite both;
}

.neptune-moon-border-inset {
	box-shadow: inset 1px 1px 6px hsla(210, 100%, 65%, 0.95);
}

/* resize in orbit for perspective */
@keyframes neptune-moon-1-resize {
	0% {
		transform: matrix(0.5, 0, 0, 0.5, 0, 0);
	}

	50% {
		transform: matrix(0.03, 0, 0, 0.03, 0, 0);
	}

	100% {
		transform: matrix(0.5, 0, 0, 0.5, 0, 0);
	}
}

@keyframes neptune-moon-2-resize {
	0% {
		transform: matrix(0.27, 0, 0, 0.27, 0, 0);
	}

	50% {
		transform: matrix(0.4, 0, 0, 0.4, 0, 0);
	}

	100% {
		transform: matrix(0.27, 0, 0, 0.27, 0, 0);
	}
}

@keyframes neptune-moon-3-resize {
	0% {
		transform: matrix(0.3, 0, 0, 0.3, 0, 0);
	}

	50% {
		transform: matrix(0.02, 0, 0, 0.02, 0, 0);
	}

	100% {
		transform: matrix(0.3, 0, 0, 0.3, 0, 0);
	}
}
