.solar-system {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vh;
	height: 100vh;
}

.solar-system *,
.planet-orbit-container * {
	transition: all 3s ease-in-out;
}

.planet-orbit-container {
	position: absolute;
	display: flex;
	border-radius: 100%;
}

.orbit-path {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0.5px solid rgba(255, 255, 255, 0.5);
	border-radius: 100%;
	animation: add-border 1s 2s ease-in-out both;
}

.solar-system .planet {
	box-shadow: none;
}

.solar-system .planet:hover {
	cursor: pointer;
}

.focus-planet {
	width: 0% !important;
	height: 0% !important;
	transform: rotate(0deg) !important;
}

.focus-planet .planet {
	transform: rotate(0deg) !important;
}

.focus-planet .orbit-path {
	animation: remove-border 1s ease-in-out both !important;
}

/* .unfocus-planet {
	animation: unfocus-planet 2s 1s ease-in-out both !important;
} */

.unfocus-planet .orbit-path {
	animation: remove-border 1s ease-in-out both !important;
}

.page-link {
	display: flex;
}

#sun-orbit {
	z-index: 9;
}

#mercury-orbit {
	width: 10%;
	height: 10%;
	animation: solar-system-orbit 4.82s linear infinite both;
	z-index: 8;
}

#mercury-orbit .planet {
	transform: rotate(138deg);
}

#venus-orbit {
	width: 15%;
	height: 15%;
	justify-content: flex-end;
	animation: solar-system-orbit 12.32s linear infinite both;
	z-index: 7;
}

#venus-orbit .planet {
	transform: rotate(-38deg);
}

#earth-orbit {
	width: 22%;
	height: 22%;
	justify-content: center;
	align-items: flex-start;
	animation: solar-system-orbit 20s linear infinite both;
	z-index: 6;
}

#earth-orbit .planet {
	transform: rotate(-135deg);
}

#mars-orbit {
	width: 29%;
	height: 29%;
	justify-content: center;
	align-items: flex-end;
	animation: solar-system-orbit 37.642s linear infinite both;
	z-index: 5;
}

#mars-orbit .planet {
	transform: rotate(50deg);
}

#jupiter-orbit {
	width: 45%;
	height: 45%;
	animation: solar-system-orbit 240s linear infinite both;
	z-index: 4;
}

#jupiter-orbit .planet {
	transform: rotate(136deg);
}

#saturn-orbit {
	width: 60%;
	height: 60%;
	justify-content: flex-end;
	animation: solar-system-orbit 580s linear infinite both;
	z-index: 3;
}

#saturn-orbit .planet {
	transform: rotate(-45deg);
}

#uranus-orbit {
	width: 70%;
	height: 70%;
	justify-content: center;
	align-items: flex-start;
	animation: solar-system-orbit 1680s linear infinite both;
	z-index: 2;
}

#uranus-orbit .planet {
	transform: rotate(-120deg);
}

#neptune-orbit {
	width: 85%;
	height: 85%;
	justify-content: flex-end;
	animation: solar-system-orbit 3300s linear infinite both;
	z-index: 1;
}

#neptune-orbit .planet {
	transform: rotate(-35deg);
}

.solar-system #earth-moon-orbit {
	position: absolute;
	display: flex;
	width: 900px;
	animation: solar-system-earth-moon-orbit 1.48s linear infinite both;
}

.solar-system #earth-moon {
	box-shadow: none;
}

@keyframes add-border {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes remove-border {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes unfocus-planet {
	from {
		display: flex;
	}

	99% {
		display: flex;
		width: 500%;
		height: 500%;
	}

	to {
		width: 500%;
		height: 500%;
		display: none;
	}
}

@keyframes solar-system-orbit {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes solar-system-earth-moon-orbit {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
