.moon-button {
	cursor: pointer;
	color: var(--highlight);
	font-weight: bold;
	text-shadow: 1px 1px 1px var(--shadow);
	background-color: var(--background-primary-30);
	padding: 10px 6px;
	border-radius: 8px;
	border-style: solid;
	border-color: var(--primary);
	margin: 4px;
	width: 45%;
}
.button-text {
	margin: auto;
	display: block;
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* extra-large screens */
@media screen and (min-width: 1200px) {
}

/* large screens */
@media screen and (min-width: 1024px) {
}

/* small screens */
@media screen and (min-width: 768px) {
	.moon-button {
		width: 30%;
	}
}

/* tablets */
@media screen and (min-width: 480px) {
}
