/* mercury */
#mercury {
	background: radial-gradient(circle at 15% 20%, hsl(0, 0%, 100%), hsl(240, 100%, 10%));
}

.mercury-border {
	box-shadow: -12px -12px 24px -8px hsla(0, 0%, 100%, 0.75);
}

.mercury-border-inset {
	box-shadow: inset 4px 4px 24px hsla(0, 0%, 100%, 0.95);
}

/* surface */
#mercury-surface-color-1 {
	animation: spin-surface 20s linear infinite both;
}

#mercury-surface-color-2 {
	animation: spin-surface 22s linear infinite both;
}
