/* general planet rules */
.hazey-border,
.hazey-border-inset {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	border: 0.5px solid rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}

.shadow {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	width: 100%;
	height: 100%;
	background: radial-gradient(circle at 15% 20%, hsla(0, 0%, 0%, 0), hsl(0, 0%, 0%));
}

.surface {
	position: absolute;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	width: 99%;
	height: 99%;
}

/* earth */
#earth {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background: radial-gradient(circle at 15% 20%, hsl(200, 100%, 50%), hsl(240, 100%, 10%));
	box-shadow: 20px 20px 200px 0 black;
	width: 500px;
	height: 500px;
}

.earth-border {
	box-shadow: -12px -12px 24px -8px hsla(210, 100%, 75%, 0.75);
}

.earth-border-inset {
	box-shadow: inset 4px 4px 24px hsla(210, 100%, 75%, 0.95);
}

#west {
	background: linear-gradient(hsl(60, 100%, 25%), hsl(120, 100%, 15%));
	width: 200px;
	height: 200px;
	clip-path: path('M 53 81 c 7 -2 8 4 8 7 S 68 96 66 100 S 73.6667 112.6667 77 117 L 82 117 S 85 116 89 101 C 81 85 98 86 99 74 L 94 75 C 89 76 89.3333 71.6667 87 70 L 82 59 C 82 58 83 57 84 58 L 90 71 C 91 74 92 73 94 72 S 102 70 106 65 S 103 63 104 59 C 101 63 97 60 96 57 S 99 56 99 57 S 102 60 103 58 S 106 61 115 61 S 122 76 124 78 S 128 68 134 64 S 138 71 143 69 S 141 76 144 83 S 146 81.6667 146 82 S 143 77 145 75 S 147.3333 76 148 77 S 151 74 150 70 S 153 67 153 68 S 150 70 152 71 S 153.6667 69 154 68 S 169 63 162 55 C 162 54 164 53 165 53 C 164 52 163 52 162 53 S 159 49 164 50 S 167 51 167 52 S 169 52 168 55 S 175 53 170 52 S 180 46 181 41 S 178.6667 37 177 36 S 185 31 189 32 S 200 28 203 29 S 192 33 196 40 L 203 34 C 199 33 206 30 209 31 L 217 29 C 218 26 224 27 230 29 S 229 22 210 22 S 190 22 184 20 S 187 25 159 18 C 153 20 160 16 155 16 S 151 14 140 17 S 124 18.3333 117 19 S 115.3333 22.3333 115 24 S 109 22.6667 105 22 S 102 19 113 17 S 101 17 100 20 S 103 22.3333 107 23 S 100.3333 23.6667 94 24 S 94.3333 25.6667 91 26 S 88 23 77 22 S 70 24 60 28 S 59 35 60 33 S 62.3333 34 63 35 S 67 34 69 32 S 64 32 70 28 S 72 27 75 27 S 67 29 73 31 S 64 40 61 36 S 59 38.6667 55 43 S 57 45 55 48 S 57 48.6667 58 49 S 62 43 67 43 L 68 45 C 71 47 69 48 66 48 C 67 50 70 48 71 48 S 68 42 70 41 L 73 45 C 72 50 75 50 75 47 S 77 49 81 41 L 90 40 C 88 41 87 42 90 43 S 88 47 86 45 S 79.6667 46 79 46 S 75 48 80 50 S 81 49 84 49 S 84 51 84 53 S 82 55 81 54 S 79 53 77 54 S 71 52 71 54 S 66.6667 53.6667 65 53 S 65 50.3333 65 49 S 37 53 50 82 Z M 98 102 C 97 103 97 107 94 110 S 94 104 92 103 S 96 103 96 100 S 98 100 98 101 Z M 128 77 C 127 77 127 79 128 80 S 130 78 129 77 Z M 146 88 C 144 89 145 90 146 92 S 149.3333 94.6667 151 96 C 151 94 150 93 148 92 S 146.6667 89.3333 146 89 Z M 55 39 C 54 37 53 35 53 33 S 51 35 50 36 S 48 36.6667 47 37 S 47 42 50 38 S 50.6667 40 51 41 S 52 44 55 41 Z M 184 37 C 183.6667 38.3333 184 40 185 41 S 181 44 186 47 C 181 48 183.3333 51.6667 182 54 S 174 55 172 59 C 168 55 183 54 181 49 S 183 52 183 40 C 182 38 183 37 184 37 Z M 164 64 C 165 65 164 66 163 67 S 163 64 164 64 Z M 159 81 C 157 83 155 85 153 85 S 153 93 157 91 S 159.6667 87.6667 161 86 S 158 85 162 82 Z M 153 96 C 158 97 162.3333 96 167 96 C 162.3333 95.6667 157 96 153 95 Z M 172 88 C 174 87 176 89 176 90 S 178 88.6667 179 89 S 188 92 191 97 C 186 98 187 92 184 95 S 180 91 176 91 S 177 90 172 88 Z M 183 97 C 184 106 201 110 190 120 S 179 114 172 116 S 159 121 158 119 C 149 103 165.3333 106.3333 166 102 S 170 102 171 101 S 171 97 178 99 L 177 101 L 180 103 C 183 106 182 99 183 97 Z M 185 125 C 185 126 187 129 188 126 S 186 125 185 125 M 211 119 C 217 124 210 123 212 124 C 214 124 213 126 211 125 C 206 129 204 131 206 131 S 209.3333 129 211 128 S 210.3333 127.3333 213 126 S 214 126 217 122 C 214 123 213 120 211 119 Z');
	transform: scale(200%);
}

#east {
	background: linear-gradient(hsl(60, 100%, 25%), hsl(120, 100%, 15%));
	width: 200px;
	height: 200px;
	clip-path: path('M 53 81 c 7 -2 8 4 8 7 S 68 96 66 100 S 73.6667 112.6667 77 117 L 82 117 S 85 116 89 101 C 81 85 98 86 99 74 L 94 75 C 89 76 89.3333 71.6667 87 70 L 82 59 C 82 58 83 57 84 58 L 90 71 C 91 74 92 73 94 72 S 102 70 106 65 S 103 63 104 59 C 101 63 97 60 96 57 S 99 56 99 57 S 102 60 103 58 S 106 61 115 61 S 122 76 124 78 S 128 68 134 64 S 138 71 143 69 S 141 76 144 83 S 146 81.6667 146 82 S 143 77 145 75 S 147.3333 76 148 77 S 151 74 150 70 S 153 67 153 68 S 150 70 152 71 S 153.6667 69 154 68 S 169 63 162 55 C 162 54 164 53 165 53 C 164 52 163 52 162 53 S 159 49 164 50 S 167 51 167 52 S 169 52 168 55 S 175 53 170 52 S 180 46 181 41 S 178.6667 37 177 36 S 185 31 189 32 S 200 28 203 29 S 192 33 196 40 L 203 34 C 199 33 206 30 209 31 L 217 29 C 218 26 224 27 230 29 S 229 22 210 22 S 190 22 184 20 S 187 25 159 18 C 153 20 160 16 155 16 S 151 14 140 17 S 124 18.3333 117 19 S 115.3333 22.3333 115 24 S 109 22.6667 105 22 S 102 19 113 17 S 101 17 100 20 S 103 22.3333 107 23 S 100.3333 23.6667 94 24 S 94.3333 25.6667 91 26 S 88 23 77 22 S 70 24 60 28 S 59 35 60 33 S 62.3333 34 63 35 S 67 34 69 32 S 64 32 70 28 S 72 27 75 27 S 67 29 73 31 S 64 40 61 36 S 59 38.6667 55 43 S 57 45 55 48 S 57 48.6667 58 49 S 62 43 67 43 L 68 45 C 71 47 69 48 66 48 C 67 50 70 48 71 48 S 68 42 70 41 L 73 45 C 72 50 75 50 75 47 S 77 49 81 41 L 90 40 C 88 41 87 42 90 43 S 88 47 86 45 S 79.6667 46 79 46 S 75 48 80 50 S 81 49 84 49 S 84 51 84 53 S 82 55 81 54 S 79 53 77 54 S 71 52 71 54 S 66.6667 53.6667 65 53 S 65 50.3333 65 49 S 37 53 50 82 Z M 98 102 C 97 103 97 107 94 110 S 94 104 92 103 S 96 103 96 100 S 98 100 98 101 Z M 128 77 C 127 77 127 79 128 80 S 130 78 129 77 Z M 146 88 C 144 89 145 90 146 92 S 149.3333 94.6667 151 96 C 151 94 150 93 148 92 S 146.6667 89.3333 146 89 Z M 55 39 C 54 37 53 35 53 33 S 51 35 50 36 S 48 36.6667 47 37 S 47 42 50 38 S 50.6667 40 51 41 S 52 44 55 41 Z M 184 37 C 183.6667 38.3333 184 40 185 41 S 181 44 186 47 C 181 48 183.3333 51.6667 182 54 S 174 55 172 59 C 168 55 183 54 181 49 S 183 52 183 40 C 182 38 183 37 184 37 Z M 164 64 C 165 65 164 66 163 67 S 163 64 164 64 Z M 159 81 C 157 83 155 85 153 85 S 153 93 157 91 S 159.6667 87.6667 161 86 S 158 85 162 82 Z M 153 96 C 158 97 162.3333 96 167 96 C 162.3333 95.6667 157 96 153 95 Z M 172 88 C 174 87 176 89 176 90 S 178 88.6667 179 89 S 188 92 191 97 C 186 98 187 92 184 95 S 180 91 176 91 S 177 90 172 88 Z M 183 97 C 184 106 201 110 190 120 S 179 114 172 116 S 159 121 158 119 C 149 103 165.3333 106.3333 166 102 S 170 102 171 101 S 171 97 178 99 L 177 101 L 180 103 C 183 106 182 99 183 97 Z M 185 125 C 185 126 187 129 188 126 S 186 125 185 125 M 211 119 C 217 124 210 123 212 124 C 214 124 213 126 211 125 C 206 129 204 131 206 131 S 209.3333 129 211 128 S 210.3333 127.3333 213 126 S 214 126 217 122 C 214 123 213 120 211 119 Z');
	transform: scale(200%);
}

#asia {
	background: linear-gradient(hsl(60, 100%, 25%), hsl(120, 100%, 15%));
	width: 200px;
	height: 200px;
	clip-path: path('M 20 20 C 50 0, 50 50, 100 50 S 150 100, 150 100 S 150 150, 150 150 S 150 200, 120 200 S 80 180, 80 180 S 60 170, 60 170 S 40 150, 40 150 S 20 100, 20 100 S 00 20, 20 20');
	transform: scale(200%);
}

/* moon */
.moon {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(0, 0%, 95%), hsl(0, 0%, 10%));
	box-shadow: 40px 40px 50px 0 rgba(0, 0, 0, 0.5);
	border-radius: 100%;
	width: 125px;
	height: 125px;
	animation: resize-in-orbit 40s 10s ease-in-out infinite both;
}

.moon-border {
	box-shadow: -3px -3px 6px -2px hsla(210, 100%, 75%, 0.95);
}

.moon-border-inset {
	box-shadow: inset 1px 1px 6px hsla(210, 100%, 75%, 0.95);
}

.orbit {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: orbit 40s ease-in-out infinite both;
}

/* animations */
@keyframes orbit {
	from {
		transform: matrix(1, 0, 0, 1, 500, -150);
		z-index: 1;
	}

	50% {
		transform: matrix(1, 0, 0, 1, -500, 150);
		z-index: 1;
	}

	51% {
		transform: matrix(1, 0, 0, 1, -500, 150);
		z-index: -1;
	}

	to {
		transform: matrix(1, 0, 0, 1, 500, -150);
		z-index: -1;
	}
}

@keyframes resize-in-orbit {
	0% {
		transform: matrix(1.2, 0, 0, 1.2, 0, 0);
	}

	50% {
		transform: matrix(0.8, 0, 0, 0.8, 0, 0);
	}

	100% {
		transform: matrix(1.2, 0, 0, 1.2, 0, 0);
	}
}

@keyframes drift {
	from {
		left: -100%;
	}

	to {
		left: 100%;
	}
}
