/* variables */
:root {
	/* --continent-color: hsl(120, 100%, 10%); */
	--continent-color: linear-gradient(white, 20%, hsl(120, 100%, 10%), 80%, hsl(50, 100%, 50%));
	--continent-opacity: 1;
}

/* general planet rules */
.hazey-border,
.hazey-border-inset {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	/* border: 0.5px solid rgba(0, 0, 0, 0.5); */
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
}

.shadow {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	width: 101%;
	height: 101%;
	background: radial-gradient(circle at 15% 20%, hsla(0, 0%, 0%, 0), 40%, hsl(0, 0%, 0%) 80%);
}

/* surfaces */
.surface {
	position: absolute;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	width: 99%;
	height: 99%;
}

.surface-color-gray {
	position: absolute;
	display: flex;
	width: 150%;
	height: 150%;
	background-image: radial-gradient(hsla(0, 0%, 0%, 0.5) 1%, transparent 40%), radial-gradient(hsla(0, 0%, 0%, 0.75) 1%, transparent 20%);
	background-size: 60% 40%;
}

.surface-color-green {
	position: absolute;
	display: flex;
	width: 150%;
	height: 150%;
	background-image: radial-gradient(darkgreen 1%, transparent 60%), radial-gradient(darkgreen 1%, transparent 30%);
	background-size: 60% 40%;
}

.surface-color-white {
	position: absolute;
	display: flex;
	width: 150%;
	height: 150%;
	background-image: radial-gradient(rgba(255, 255, 255, 0.75) 1%, transparent 60%), radial-gradient(rgba(255, 255, 255, 0.75) 1%, transparent 30%);
	background-size: 60% 40%;
}

/* earth */
#earth {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background: radial-gradient(circle at 15% 20%, hsl(200, 100%, 50%), hsl(240, 100%, 10%));
	box-shadow: 20px 20px 200px 0 black;
	width: 500px;
	height: 500px;
}

.earth-border {
	box-shadow: -12px -12px 24px -8px hsla(210, 100%, 75%, 0.75);
}

.earth-border-inset {
	box-shadow: inset 4px 4px 24px hsla(210, 100%, 75%, 0.95);
}

/* continents */
/* #west {
	position: absolute;
	left: -20%;
	background: var(--continent-color);
	opacity: var(--continent-opacity);
	width: 200px;
	height: 120px;
	clip-path: path('M 13 33 C 16 32 18 32 24 28 C 22 28 24 27 27 26 C 24 28 25 29 28 27 C 28 25 31 27 32 27 C 33 27 54 32 50 45 C 52 49 53 51 55 51 S 58 55 59 56 S 59 57 59 57 S 62 60 64 62 C 63 59 59 55 59 53 C 64 58 68 61 68 64 C 68 66 76 69 78 68 C 79 68 80 70 84 71 S 85 74 86 74 S 89 76 91 76 C 91 74 95 74 93 80 S 88 90 98 98 S 82 135 105 134 C 101 133 100 129 103 128 S 104 126 103 126 S 103 124 104 124 S 105 122 105 121 S 106 121 107 121 S 108 120 108 119 C 109 119 116 118 112 115 S 114 116 115 115 S 118 111 120 109 S 119 105 125 104 S 127 95 131 93 S 133 87 128 85 S 120 85 119 81 S 111 78 110 75 S 105 74 103 73 S 100 71 98 72 S 95 73 94 75 C 93 74 92 73 91 74 S 87 75 88 71 S 85 69 83 68 C 84 67 84 64 85 63 C 80 62 83 66 78 66 S 74 53 79 55 S 82 55 82 55 C 83 55 85 54 86 55 S 87 55 88 55 S 89 57 89 58 S 90 59 91 60 C 94 58 87 54 92 52 S 91 48 100 44 C 100 42 103 41 106 41 C 104 41 103 44 106 42 S 108 42 110 40 C 108 40 105 41 106 39 S 101 38 100 39 C 102 37 104 36 107 36 S 109 37 111 36 S 111 37 110 39 L 114 39 C 115 39 119 42 115 37 L 113 37 C 115 35 113 32 111 32 S 107 29 105 27 C 103 30 102 29 101 27 S 96 25 94 25 S 94 27 94 27 S 93 28 93 28 C 96 31 93 32 92 32 C 93 37 90 36 89 32 C 85 32 83 29 80 29 S 76 26 85 23 C 85 23 84 24 84 24 S 85 24 86 25 S 89 24 91 24 C 90 23 89 23 88 22 C 91 21 90 20 90 18 C 92 18 103 21 96 22 S 95 24 96 23 S 99 25 105 26 C 104 25 107 22 109 21 C 104 20 101 16 91 15 C 94 9 102 8 106 8 C 103 8 102 10 99 10 S 101 12 102 13 S 111 10 114 17 S 118 26 123 27 S 124 26 128 23 S 138 21 144 18 S 141 18 147 15 S 143 11 150 9 S 156 7 151 7 S 135 3 122 6 S 100 4 85 7 S 81 10 81 11 S 77 10 75 9 S 74 9 76 14 S 75 12 73 10 S 72 10 69 9 S 68 10 71 11 S 69 11 68 11 S 68 12 69 12 S 67 13 64 11 S 62 12 58 11 S 55 12 52 12 S 55 13 60 14 S 66 12 72 13 S 68 14 72 15 S 71 15 70 15 S 72 17 75 17 S 74 18 73 19 S 69 18 68 16 S 71 14 62 15 S 62 13 50 14 C 51 15 50 15 49 16 C 50 18 56 16 58 19 C 54 19 51 17 47 18 S 39 19 29 18 S 16 18 11 19 C 12 20 15 21 17 21 C 15 21 12 21 10 22 C 12 24 14 23 16 23 S 16 24 14 24 S 9 27 14 28 S 16 28 20 28 C 20 30 13 32 13 33 Z M 12 33 C 10 34 8 34 6 34 C 8 35 10 35 12 33 M 153 22 C 152 24 147 25 143 23 S 151 21 153 22 M 87 62 C 93 60 92 63 97 64 C 92 66 91 61 87 62 Z M 98 65 C 99 64 100 64 101 65 S 103 66 97 66 Z');
	transform: scale(500%);
	animation: spin-continents 120s linear infinite both;
}

#east {
	position: absolute;
	left: 130%;
	background: var(--continent-color);
	opacity: var(--continent-opacity);
	width: 200px;
	height: 120px;
	clip-path: path('M 12 71 c 7 -2 8 4 8 7 S 27 86 25 90 S 33 103 36 107 L 41 107 S 44 106 48 91 C 40 75 57 76 58 64 L 53 65 C 48 66 48 62 46 60 L 41 49 C 41 48 42 47 43 48 L 49 61 C 50 64 51 63 53 62 S 61 60 65 55 S 62 53 63 49 C 60 53 56 50 55 47 S 58 46 58 47 S 61 50 62 48 S 65 51 74 51 S 81 66 83 68 S 87 58 93 54 S 97 61 102 59 S 100 66 103 73 S 105 72 105 72 S 102 67 104 65 S 106 66 107 67 S 110 64 109 60 S 112 57 112 58 S 109 60 111 61 S 113 59 113 58 S 128 53 121 45 C 121 44 123 43 124 43 C 123 42 122 42 121 43 S 118 39 123 40 S 126 41 126 42 S 128 42 127 45 S 134 43 129 42 S 139 36 140 31 S 138 27 136 26 S 144 21 148 22 S 159 18 162 19 S 151 23 155 30 L 162 24 C 158 23 165 20 168 21 L 176 19 C 177 16 183 17 189 19 S 188 12 169 12 S 149 12 143 10 S 146 15 118 8 C 112 10 119 6 114 6 S 110 4 99 7 S 83 8 76 9 S 74 12 74 14 S 68 13 64 12 S 61 9 72 7 S 60 7 59 10 S 62 12 66 13 S 59 14 53 14 S 53 16 50 16 S 47 13 36 12 S 29 14 19 18 S 18 25 19 23 S 21 24 22 25 S 26 24 28 22 S 23 22 29 18 S 31 17 34 17 S 26 19 32 21 S 23 30 20 26 S 18 29 14 33 S 16 35 14 38 S 16 39 17 39 S 21 33 26 33 L 27 35 C 30 37 28 38 25 38 C 26 40 29 38 30 38 S 27 32 29 31 L 32 35 C 31 40 34 40 34 37 S 36 39 40 31 L 49 30 C 47 31 46 32 49 33 S 47 37 45 35 S 39 36 38 36 S 34 38 39 40 S 40 39 43 39 S 43 41 43 43 S 41 45 40 44 S 38 43 36 44 S 30 42 30 44 S 26 44 24 43 S 24 40 24 39 S -4 43 9 72 Z M 57 92 C 56 93 56 97 53 100 S 53 94 51 93 S 55 93 55 90 S 57 90 57 91 Z M 87 67 C 86 67 86 69 87 70 S 89 68 88 67 Z M 105 78 C 103 79 104 80 105 82 S 108 85 110 86 C 110 84 109 83 107 82 S 106 79 105 79 Z M 14 29 C 13 27 12 25 12 23 S 10 25 9 26 S 7 27 6 27 S 6 32 9 28 S 10 30 10 31 S 11 34 14 31 Z M 143 27 C 143 28 143 30 144 31 S 140 34 145 37 C 140 38 142 42 141 44 S 133 45 131 49 C 127 45 142 44 140 39 S 142 42 142 30 C 141 28 142 27 143 27 Z M 123 54 C 124 55 123 56 122 57 S 122 54 123 54 Z M 118 71 C 116 73 114 75 112 75 S 112 83 116 81 S 119 78 120 76 S 117 75 121 72 Z M 112 86 C 117 87 121 86 126 86 C 121 86 116 86 112 85 Z M 131 78 C 133 77 135 79 135 80 S 137 79 138 79 S 147 82 150 87 C 145 88 146 82 143 85 S 139 81 135 81 S 136 80 131 78 Z M 142 87 C 143 96 160 100 149 110 S 138 104 131 106 S 118 111 117 109 C 108 93 124 96 125 92 S 129 92 130 91 S 130 87 137 89 L 136 91 L 139 93 C 142 96 141 89 142 87 Z M 144 115 C 144 116 146 119 147 116 S 145 115 144 115 M 170 109 C 176 114 169 113 171 114 C 173 114 172 116 170 115 C 165 119 163 121 165 121 S 168 119 170 118 S 169 117 172 116 S 173 116 176 112 C 173 113 172 110 170 109 Z');
	transform: scale(500%);
	animation: spin-continents 120s 66s linear infinite both;
} */

#earth-surface-color-1 {
	animation: spin-surface 20s linear infinite both;
}

#earth-surface-color-2 {
	animation: spin-surface 22s linear infinite both;
	transform: translateY(5%);
}

#earth-surface-color-3 {
	animation: spin-surface 18s linear infinite both;
	transform: translateY(10%);
}

#earth-surface-color-4 {
	animation: spin-surface 24s linear infinite both;
	transform: translateY(15%);
}

/* clouds */
/* .clouds:nth-child(3) {
	position: absolute;
	animation: spin-clouds 120s linear infinite both;
}

.clouds:nth-child(4) {
	position: absolute;
	animation: spin-clouds 120s 24s linear infinite both;
}

.clouds:nth-child(5) {
	position: absolute;
	animation: spin-clouds 120s 48s linear infinite both;
}

.clouds:nth-child(6) {
	position: absolute;
	animation: spin-clouds 120s 72s linear infinite both;
}

.clouds:nth-child(7) {
	position: absolute;
	animation: spin-clouds 120s 96s linear infinite both;
} */

/* moon */
.moon {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(0, 0%, 95%), hsl(0, 0%, 10%));
	box-shadow: 40px 40px 50px 0 rgba(0, 0, 0, 0.5);
	border-radius: 100%;
	width: 125px;
	height: 125px;
	animation: resize-in-orbit 60s 20s ease-in-out infinite both;
}

.moon-border {
	box-shadow: -3px -3px 6px -2px hsla(210, 100%, 75%, 0.95);
}

.moon-border-inset {
	box-shadow: inset 1px 1px 6px hsla(210, 100%, 75%, 0.95);
}

#moon-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#moon-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

.orbit {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: orbit 60s ease-in-out infinite both;
}

/* animations */
@keyframes orbit {
	from {
		transform: matrix(1, 0, 0, 1, 500, -150);
		z-index: 1;
	}

	50% {
		transform: matrix(1, 0, 0, 1, -500, 150);
		z-index: 1;
	}

	51% {
		transform: matrix(1, 0, 0, 1, -500, 150);
		z-index: -1;
	}

	to {
		transform: matrix(1, 0, 0, 1, 500, -150);
		z-index: -1;
	}
}

@keyframes resize-in-orbit {
	0% {
		transform: matrix(1.2, 0, 0, 1.2, 0, 0);
	}

	50% {
		transform: matrix(0.8, 0, 0, 0.8, 0, 0);
	}

	100% {
		transform: matrix(1.2, 0, 0, 1.2, 0, 0);
	}
}

@keyframes spin-continents {
	from {
		left: -90%;
	}

	100% {
		left: 240%;
	}
}

@keyframes spin-clouds {
	from {
		left: -200%;
	}

	100% {
		left: 100%;
	}
}

@keyframes spin-surface {
	0% {
		background-position: 0% 0%, 75% 35%;
	}

	to {
		background-position: 150% 0%, 225% 35%;
	}
}
