.dropdown {
    display: flex;
    justify-content: center;
    color: lightblue;
    margin-right: 3rem;
    padding: 0.5rem;
    font-size: 2rem;
    background: linear-gradient(90deg, #000000, transparent) transparent;
    font-family: inherit;
    text-decoration: none;
    transition: background-color 1s;
    place-content: center;
}
.dropdown:hover, .dropdown:focus {
  background-color: #e91e63;
  color: #fff;
}
.dd-head {
}
