/* venus */
#venus {
	background: radial-gradient(circle at 15% 20%, hsl(45, 100%, 85%), hsl(45, 100%, 10%));
	transform: rotate(-20deg);
}

.venus-border {
	box-shadow: -12px -12px 24px -8px hsla(0, 0%, 100%, 0.75);
}

.venus-border-inset {
	box-shadow: inset 4px 4px 24px hsla(0, 0%, 100%, 0.95);
}

/* surface */
#venus-surface-color-1 {
	/* real time is too slow to see movement */
	/* animation: spin-surface 4860s linear infinite both; */

	/* venus rotates backwards */
	transform: rotate(180deg);
}

#venus-surface-color-2 {
	/* arbitrary cloud movement */
	animation: spin-surface 30s linear infinite both;
	opacity: 0.25;

	/* venus rotates backwards */
	transform: rotate(180deg);
}

#venus-surface-color-3 {
	/* arbitrary cloud movement */
	animation: spin-surface 20s linear infinite both;
	opacity: 0.75;

	/* venus rotates backwards */
	transform: rotate(180deg);
}
