/* jupiter */
#jupiter {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background: radial-gradient(circle at 15% 20%, hsl(45, 100%, 85%), hsl(45, 100%, 10%));
	box-shadow: 20px 20px 200px 0 black;
	width: 500px;
	height: 500px;
}

.jupiter-border {
	box-shadow: -12px -12px 24px -8px hsla(210, 100%, 95%, 0.75);
}

.jupiter-border-inset {
	box-shadow: inset 4px 4px 24px hsla(210, 100%, 95%, 0.95);
}

/* surface */
#jupiter-surface-color-1 {
	animation: spin-surface-down-right 20s linear infinite both;
}

#jupiter-surface-color-2 {
	animation: spin-surface 22s linear infinite both;
	transform: translateY(5%);
}

#jupiter-surface-color-3 {
	animation: spin-surface-up-right 18s linear infinite both;
	transform: translateY(10%);
}

/* moons */
#jupiter-moon-1 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(0, 100%, 100%), hsl(0, 100%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: jupiter-moon-1-resize 80s 20s ease-in-out infinite both;
}

/* moon surface */
#jupiter-moon-1-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#jupiter-moon-1-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

#jupiter-moon-1-orbit {
	animation: jupiter-moon-1-orbit 80s ease-in-out infinite both;
}

/* moon 2 */
#jupiter-moon-2 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(45, 100%, 95%), hsl(45, 0%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: jupiter-moon-2-resize 60s 15s ease-in-out infinite both;
}

/* moon surface */
#jupiter-moon-2-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#jupiter-moon-2-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

#jupiter-moon-2-orbit {
	animation: jupiter-moon-2-orbit 60s ease-in-out infinite both;
}

/* moon 3 */
#jupiter-moon-3 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(0, 0%, 100%), hsl(0, 0%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: jupiter-moon-3-resize 40s 10s ease-in-out infinite both;
}

/* moon surface */
#jupiter-moon-3-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#jupiter-moon-3-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

#jupiter-moon-3-orbit {
	animation: jupiter-moon-3-orbit 40s ease-in-out infinite both;
}

/* moon 4 */
#jupiter-moon-4 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(25, 100%, 75%), hsl(120, 100%, 20%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: jupiter-moon-4-resize 20s 5s ease-in-out infinite both;
}

/* moon surface */
#jupiter-moon-4-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#jupiter-moon-4-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

#jupiter-moon-4-orbit {
	animation: jupiter-moon-4-orbit 20s ease-in-out infinite both;
}

.jupiter-moon-border-inset {
	box-shadow: inset 1px 1px 6px hsla(25, 100%, 90%, 0.95);
}

/* animations */
@keyframes jupiter-moon-1-orbit {
	from {
		transform: matrix(1, 0, 0, 1, 700, -300);
		z-index: 4;
	}

	50% {
		transform: matrix(1, 0, 0, 1, -700, 300);
		z-index: 4;
	}

	51% {
		transform: matrix(1, 0, 0, 1, -700, 300);
		z-index: -4;
	}

	to {
		transform: matrix(1, 0, 0, 1, 700, -300);
		z-index: -4;
	}
}

@keyframes jupiter-moon-2-orbit {
	from {
		transform: matrix(1, 0, 0, 1, 600, -250);
		z-index: 3;
	}

	50% {
		transform: matrix(1, 0, 0, 1, -600, 250);
		z-index: 3;
	}

	51% {
		transform: matrix(1, 0, 0, 1, -600, 250);
		z-index: -3;
	}

	to {
		transform: matrix(1, 0, 0, 1, 600, -250);
		z-index: -3;
	}
}

@keyframes jupiter-moon-3-orbit {
	from {
		transform: matrix(1, 0, 0, 1, 500, -200);
		z-index: 2;
	}

	50% {
		transform: matrix(1, 0, 0, 1, -500, 200);
		z-index: 2;
	}

	51% {
		transform: matrix(1, 0, 0, 1, -500, 200);
		z-index: -2;
	}

	to {
		transform: matrix(1, 0, 0, 1, 500, -200);
		z-index: -2;
	}
}

@keyframes jupiter-moon-4-orbit {
	from {
		transform: matrix(1, 0, 0, 1, 400, -150);
		z-index: 1;
	}

	50% {
		transform: matrix(1, 0, 0, 1, -400, 150);
		z-index: 1;
	}

	51% {
		transform: matrix(1, 0, 0, 1, -400, 150);
		z-index: -1;
	}

	to {
		transform: matrix(1, 0, 0, 1, 400, -150);
		z-index: -1;
	}
}

/* resize in orbit for perspective */
@keyframes jupiter-moon-1-resize {
	0% {
		transform: matrix(0.5, 0, 0, 0.5, 0, 0);
	}

	50% {
		transform: matrix(0.11, 0, 0, 0.11, 0, 0);
	}

	100% {
		transform: matrix(0.5, 0, 0, 0.5, 0, 0);
	}
}

@keyframes jupiter-moon-2-resize {
	0% {
		transform: matrix(0.4, 0, 0, 0.4, 0, 0);
	}

	50% {
		transform: matrix(0.13, 0, 0, 0.13, 0, 0);
	}

	100% {
		transform: matrix(0.4, 0, 0, 0.4, 0, 0);
	}
}

@keyframes jupiter-moon-3-resize {
	0% {
		transform: matrix(0.3, 0, 0, 0.3, 0, 0);
	}

	50% {
		transform: matrix(0.11, 0, 0, 0.11, 0, 0);
	}

	100% {
		transform: matrix(0.3, 0, 0, 0.3, 0, 0);
	}
}

@keyframes jupiter-moon-4-resize {
	0% {
		transform: matrix(0.2, 0, 0, 0.2, 0, 0);
	}

	50% {
		transform: matrix(0.13, 0, 0, 0.13, 0, 0);
	}

	100% {
		transform: matrix(0.2, 0, 0, 0.2, 0, 0);
	}
}
