/* jupiter */
#jupiter {
	background-image: linear-gradient(180deg, burlywood 10%, wheat 15%, 17%, rgb(209, 171, 132) 18%, tan 19%, antiquewhite 20%, tan 24%, rgb(241, 180, 126) 24%, linen 26%, 32%, rgb(233, 170, 148) 35%, rgb(196, 139, 139) 37%, rgb(230, 213, 192) 41%, 44%, rgb(243, 182, 129) 47%, moccasin 50%, 58%, darksalmon 63%, linen 68%, 78%, wheat 80%, burlywood);
}

.jupiter-border {
	box-shadow: -12px -12px 24px -8px hsla(210, 100%, 95%, 0.75);
}

.jupiter-border-inset {
	box-shadow: inset 4px 4px 24px hsla(210, 100%, 95%, 0.95);
}

/* surface */
#jupiter .surface {
	opacity: 1 !important;
}

#jupiter-surface-spot {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(ellipse at 20% 66.5%, darksalmon 0.5%, transparent 2%), radial-gradient(ellipse at 20% 66.5%, transparent, 2%, darksalmon 3%, transparent 5.5%), radial-gradient(ellipse at 20% 66%, rgb(255, 192, 137) 2%, transparent 5%), radial-gradient(ellipse at 20% 65%, linen 4%, transparent 6%), radial-gradient(ellipse at 21% 64%, darksalmon 2%, transparent 7%), radial-gradient(ellipse at 16% 65%, wheat 2%, transparent 7%);
	background-size: 125% 100%;
	background-repeat: repeat;
	animation: spin-jupiter-spot 8.3s linear infinite both;
}

#jupiter-surface-color-1 {
	animation: spin-surface 8.3s linear infinite both;
	opacity: 0.15;
}

#jupiter-surface-color-2 {
	animation: spin-surface-down-right 7s linear infinite both;
	opacity: 0.25;
}

#jupiter-surface-color-3 {
	animation: spin-surface-up-right 6s linear infinite both;
	opacity: 0.5;
}

/* moons */
.jupiter-moon-border-inset {
	box-shadow: inset 1px 1px 6px hsla(25, 100%, 90%, 0.95);
}

/* moon 1 */
#jupiter-moon-1 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(0, 100%, 100%), hsl(0, 100%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: jupiter-moon-1-resize 144s 36s ease-in-out infinite both;
}

#jupiter-moon-1-orbit {
	animation: moon-orbit-large 144s ease-in-out infinite both;
}

/* moon surface */
#jupiter-moon-1-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#jupiter-moon-1-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

/* moon 2 */
#jupiter-moon-2 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(45, 100%, 95%), hsl(45, 0%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: jupiter-moon-2-resize 334s 83.5s ease-in-out infinite both;
}

#jupiter-moon-2-orbit {
	animation: moon-orbit-medium 334s ease-in-out infinite both;
}

/* moon surface */
#jupiter-moon-2-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#jupiter-moon-2-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

/* moon 3 */
#jupiter-moon-3 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(0, 0%, 100%), hsl(0, 0%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: jupiter-moon-3-resize 36s 9s ease-in-out infinite both;
}

#jupiter-moon-3-orbit {
	animation: moon-orbit-small 36s ease-in-out infinite both;
}

/* moon surface */
#jupiter-moon-3-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#jupiter-moon-3-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

/* moon 4 */
#jupiter-moon-4 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(25, 100%, 75%), hsl(120, 100%, 20%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: jupiter-moon-4-resize 72s 18s ease-in-out infinite both;
}

#jupiter-moon-4-orbit {
	animation: moon-orbit-x-small 72s ease-in-out infinite both;
}

/* moon surface */
#jupiter-moon-4-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#jupiter-moon-4-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

/* animations */
@keyframes spin-jupiter-spot {
	from {
		background-position: 150% 0%;
	}

	60% {
		background-position: -300% 0%;
	}

	to {
		background-position: -300% 0%;
	}
}

/* resize in orbit for perspective */
@keyframes jupiter-moon-1-resize {
	0% {
		transform: matrix(0.11, 0, 0, 0.11, 0, 0);
	}

	50% {
		transform: matrix(0.5, 0, 0, 0.5, 0, 0);
	}

	100% {
		transform: matrix(0.11, 0, 0, 0.11, 0, 0);
	}
}

@keyframes jupiter-moon-2-resize {
	0% {
		transform: matrix(0.4, 0, 0, 0.4, 0, 0);
	}

	50% {
		transform: matrix(0.13, 0, 0, 0.13, 0, 0);
	}

	100% {
		transform: matrix(0.4, 0, 0, 0.4, 0, 0);
	}
}

@keyframes jupiter-moon-3-resize {
	0% {
		transform: matrix(0.11, 0, 0, 0.11, 0, 0);
	}

	50% {
		transform: matrix(0.3, 0, 0, 0.3, 0, 0);
	}

	100% {
		transform: matrix(0.11, 0, 0, 0.11, 0, 0);
	}
}

@keyframes jupiter-moon-4-resize {
	0% {
		transform: matrix(0.13, 0, 0, 0.13, 0, 0);
	}

	50% {
		transform: matrix(0.2, 0, 0, 0.2, 0, 0);
	}

	100% {
		transform: matrix(0.13, 0, 0, 0.13, 0, 0);
	}
}
