footer {
	position: absolute;
	bottom: 0;
	left: 0;
	color: var(--background-highlight-30);
}
.home-panel {
	position: absolute;
	top: 15%;
	right: 2vw;
	width: 25%;
}

.home-panel-name {
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-shadow: 5px 5px 5px var(--background-primary-30);
	position: relative;
	top: 15px;
	color: var(--primary);
	font-size: 4em;
	text-align: center;
	pointer-events: none;
}
.home-panel-name h1 {
	font-size: smaller;
}
.home-panel-outer {
	border: 2px solid var(--primary);
	border-radius: 3px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	background-color: var(--background-tertiary-60);
	box-shadow: inset 0 0 30px var(--primary);
	color: var(--highlight);
}
.home-panel-inner {
	border: 2px solid var(--background-primary-30);
	border-radius: 5px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	height: 50vh;
	color: var(--highlight);
	text-shadow: 5px 5px 5px var(--background-shadow-30);
	overflow: hidden;
	margin: 3%;
	display: flex;
	flex-direction: column;
}

#solar-system-facts-container {
	padding: 8px;
}
@media only screen and (max-width: 1000px) {
	.home-panel {
		display: flex;
		width: 60%;
		height: 94vh;
		text-align: center;
		top: 3vh;
		right: 3vh;
	}
	.home-panel-name {
		top: 25%;
	}
	.home-panel-inner {
		height: 85vh;
	}
}
@media only screen and (min-height: 1000px) {
	.home-panel {
		display: revert;
		width: 40%;
		height: revert;
		text-align: center;
		right: 3vh;
		top: auto;
		bottom: 3vh;
		left: auto;
	}
	.home-panel-inner {
		height: revert;
	}
	.scroll-container {
		display: flex;
		flex-direction: column;
	}
}
@media only screen and (max-width: 1000px) {
	.home-panel {
		display: revert;
		width: 95%;
		height: revert;
		text-align: center;
		right: 2vh;
		top: auto;
		bottom: 1vh;
		left: auto;
	}
	.home-panel-name {
		font-size: 2.5em;
	}
	.home-panel-inner {
		height: revert;
	}
	.scroll-container {
		display: flex;
		flex-direction: column;
	}
	.home-panel-inner {
		margin: 1.5%;
	}
}
@media only screen and (max-width: 767px) {
	.home-panel {
		display: revert;
		width: 100%;
		height: revert;
		text-align: center;
		right: auto;
		top: auto;
		bottom: 0;
		left: 0;
	}
	.home-panel-inner {
		height: revert;
	}
	.scroll-container {
		display: flex;
		flex-direction: column;
		height: 30vh;
	}
}
@media only screen and (max-height: 400px) {
	.home-panel {
		display: flex;
		width: 60%;
		height: 94vh;
		text-align: center;
		top: 3vh;
		right: 3vh;
	}
	.home-panel-name {
		top: 25%;
	}
	.home-panel-inner {
		height: 85vh;
	}
}
