.home-panel {
	z-index: 1;
	position: relative;
	top: 25vh;
}
.home-panel-name {
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-shadow: 7px 7px 7px var(--background-shadow-30);
	position: relative;
	top: 25px;
	color: var(--primary);
	font-size: 4rem;
	text-align: center;
	pointer-events: none;
}
.home-panel-name h1 {
	font-size: 0.6rem;
}
.home-panel-outer {
	border: 2px solid var(--primary);
	border-radius: 3px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	background-color: var(--background-tertiary-60);
	box-shadow: inset 0 0 30px var(--primary);
	color: var(--highlight);
}
.home-panel-inner {
	border: 2px solid var(--background-primary-30);
	border-radius: 5px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	max-height: 50vh;
	color: var(--highlight);
	text-shadow: 5px 5px 5px var(--background-shadow-60);
	overflow: hidden;
	margin: 3%;
	display: flex;
	flex-direction: column;
}
#solar-system-facts-container {
	padding: 8px;
	text-align: center;
}

/* extra-large screens */
@media screen and (min-width: 1200px) {
}

/* large screens */
@media screen and (min-width: 1024px) {
}

/* small screens */
@media screen and (min-width: 768px) {
}

/* tablets */
@media screen and (min-width: 480px) {
}
