.home-panel {
	z-index: 1;
	position: relative;
	top: 30vh;
}
.home-panel-name {
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-shadow: 7px 7px 7px var(--background-shadow-60);
	position: relative;
	top: var(--5);
	color: var(--primary);
	font-size: var(--6);
	text-align: center;
	pointer-events: none;
}

.home-panel-outer {
	border: 2px solid var(--primary);
	border-radius: 3px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	background-color: var(--background-tertiary-60);
	box-shadow: inset 0 0 30px var(--primary);
	color: var(--highlight);
}
.home-panel-inner {
	border: 2px solid var(--background-primary-30);
	border-radius: 5px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	max-height: 100vh;
	color: var(--highlight);
	text-shadow: 5px 5px 5px var(--background-shadow-60);
	overflow: hidden;
	margin: 3%;
	display: flex;
	flex-direction: column;
}
.home-panel-inner h2 {
	margin: var(--1);
}
.home-panel-inner a,
.home-panel-inner a:visited {
	color: var(--primary);
	text-decoration: none;
}
#solar-system-facts-container {
	padding: var(--2);
	text-align: left;
}
#solar-system-facts-container ul {
	margin-top: var(--2);
	margin-bottom: var(--2);
}
#solar-system-github {
	margin: var(--2);
	padding-top: var(--2);
	border-top: 2px solid var(--background-primary-30);
}
/* tablets */
@media screen and (min-width: 480px) {
}

/* small screens */
@media screen and (min-width: 768px) {
	.home-panel-name {
		font-size: var(--8);
	}
	.home-panel {
		top: 5vh;
	}
}

/* large screens */
@media screen and (min-width: 1024px) {
	.home-panel {
		top: -5vh;
		width: 32vw;
	}
	.home-panel-inner {
		max-height: 70vh;
	}
	.scroll-container {
		max-height: 80vh;
	}
}

/* extra-large screens */
@media screen and (min-width: 1440px) {
	.home-panel {
		right: 2vw;
	}
}
