* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.planet-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.planet-scale {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* stars */
/* .planet-container::before {
	content: '';
	position: absolute;
	background-color: black;
	background-image: radial-gradient(hsla(0, 0%, 100%, 0.75) 1%, transparent 0%), radial-gradient(hsla(0, 0%, 100%, 0.5) 2%, transparent 0%), radial-gradient(hsla(0, 0%, 100%, 0.5) 1%, transparent 0%);
	background-size: 50px 50px;
	background-position: 0 0, 30px 40px, 60px 50px;
	background-repeat: repeat;
	width: 120vw;
	height: 120vw;
	z-index: -10;
	transform: rotate(30deg);
} */

/* twinkle */
/* .planet-container::after {
	content: '';
	position: absolute;
	background-image: linear-gradient(45deg, #000 25%, transparent 0%), linear-gradient(135deg, #000 25%, transparent 0%), linear-gradient(225deg, #000 25%, transparent 0%), linear-gradient(315deg, #000 25%, transparent 0%);
	background-size: 400px 400px;
	background-position: 0 0, 200px 200px;
	background-repeat: repeat;
	width: 120vw;
	height: 120vw;
	z-index: -10;
	animation: twinkle 500s linear infinite both;
} */

@keyframes twinkle {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/* navigation */
.temp-planet-select {
	position: absolute;
	display: flex;
	gap: 30px;
	bottom: 60px;
	color: white;
}

.temp-planet-select:hover {
	cursor: pointer;
}

/* general planet rules */
.hazey-border,
.hazey-border-inset {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	width: 100%;
	height: 100%;
	/* backdrop-filter: blur(10px); */
}

.shadow {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	width: 101%;
	height: 101%;
	background: radial-gradient(circle at 15% 20%, hsla(0, 0%, 0%, 0), 40%, hsl(0, 0%, 0%) 80%);
	/* backdrop-filter: blur(10px); */
}

/* surfaces */
.surface {
	position: absolute;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	width: 99%;
	height: 99%;
	opacity: 0.5;
}

.surface-blur {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.surface-color-gray {
	position: absolute;
	display: flex;
	width: 150%;
	height: 150%;
	background-image: radial-gradient(hsla(0, 0%, 0%, 0.25) 1%, transparent 40%), radial-gradient(hsla(0, 0%, 0%, 0.25) 1%, transparent 20%);
	background-size: 60% 40%;
}

.surface-color-green {
	position: absolute;
	display: flex;
	width: 150%;
	height: 150%;
	background-image: radial-gradient(darkgreen 1%, transparent 60%), radial-gradient(darkgreen 1%, transparent 30%);
	background-size: 60% 40%;
}

.surface-color-white {
	position: absolute;
	display: flex;
	width: 150%;
	height: 150%;
	background-image: radial-gradient(rgba(255, 255, 255, 0.5) 1%, transparent 60%), radial-gradient(rgba(255, 255, 255, 0.5) 1%, transparent 30%);
	background-size: 60% 40%;
}

.surface-color-red {
	position: absolute;
	display: flex;
	width: 150%;
	height: 150%;
	background-image: radial-gradient(red 1%, transparent 60%), radial-gradient(red 1%, transparent 30%);
	background-size: 60% 40%;
}

.surface-color-gold {
	position: absolute;
	display: flex;
	width: 150%;
	height: 150%;
	background-image: radial-gradient(goldenrod 1%, transparent 60%), radial-gradient(gold 1%, transparent 30%);
	background-size: 60% 40%;
}

.surface-color-yellow {
	position: absolute;
	display: flex;
	width: 150%;
	height: 150%;
	background-image: radial-gradient(yellow 1%, transparent 60%), radial-gradient(yellow 1%, transparent 30%);
	background-size: 60% 40%;
}

.surface-color-orange {
	position: absolute;
	display: flex;
	width: 150%;
	height: 150%;
	background-image: radial-gradient(orange 1%, transparent 60%), radial-gradient(orange 1%, transparent 30%);
	background-size: 60% 40%;
}

.surface-color-sand {
	position: absolute;
	display: flex;
	width: 150%;
	height: 150%;
	background-image: radial-gradient(chocolate 1%, transparent 60%), radial-gradient(chocolate 1%, transparent 30%);
	background-size: 60% 40%;
}

.surface-color-pink {
	position: absolute;
	display: flex;
	width: 150%;
	height: 150%;
	background-image: radial-gradient(pink 1%, transparent 60%), radial-gradient(salmon 1%, transparent 30%);
	background-size: 60% 40%;
}

.surface-color-blue {
	position: absolute;
	display: flex;
	width: 150%;
	height: 150%;
	background-image: radial-gradient(dodgerblue 1%, transparent 60%), radial-gradient(dodgerblue 1%, transparent 30%);
	background-size: 60% 40%;
}

.surface-color-sky {
	position: absolute;
	display: flex;
	width: 150%;
	height: 150%;
	background-image: radial-gradient(skyblue 1%, transparent 60%), radial-gradient(skyblue 1%, transparent 30%);
	background-size: 60% 40%;
}

.surface-color-navy {
	position: absolute;
	display: flex;
	width: 150%;
	height: 150%;
	background-image: radial-gradient(darkblue 1%, transparent 60%), radial-gradient(darkblue 1%, transparent 30%);
	background-size: 60% 40%;
}

/* surface animations */
@keyframes spin-surface {
	0% {
		background-position: 0% 0%, 75% 35%;
	}

	to {
		background-position: 150% 0%, 225% 35%;
	}
}

@keyframes spin-surface-reverse {
	0% {
		background-position: 150% 0%, 225% 35%;
	}

	to {
		background-position: 0% 0%, 75% 35%;
	}
}

@keyframes spin-surface-down {
	0% {
		background-position: 0% 0%, 75% 35%;
	}

	to {
		background-position: 0% 133%, 75% 168%;
	}
}

@keyframes spin-surface-up {
	0% {
		background-position: 0% 133%, 75% 168%;
	}

	to {
		background-position: 0% 0%, 75% 35%;
	}
}

@keyframes spin-surface-down-right {
	0% {
		background-position: 0% 0%, 75% 35%;
	}

	to {
		background-position: 150% 133%, 225% 168%;
	}
}

@keyframes spin-surface-up-right {
	0% {
		background-position: 0% 133%, 75% 168%;
	}

	to {
		background-position: 150% 0%, 225% 35%;
	}
}
