.nav {
    position: absolute;
    z-index: 20;
    width: 100vw;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    color: white;
}
.dropdown {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    padding: 0.5rem;
    border-right: 2px solid white;
    font-size: 2rem;
    font-family: inherit;
    text-decoration: none;
    place-content: center;
    position: relative;
    z-index: 50;
    background: linear-gradient(90deg, #000000, transparent) transparent;
    transition: background-color 0.5s;
}
.dropdown-head {
    position: relative;
    z-index: 20;
}
.nav-link {
    color: white;
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out, top 0.5s;
    z-index: 10;
}
.earth-link {
    top: 0;
}
.mars-link {
    top: 0;
    transition: opacity 0.5s ease-out, top 0.5s;
}
.saturn-link {
    top: 0;
    transition: opacity 0.5s ease-out, top 0.5s;
}
.dropdown:hover {
    background-color: #e91e63;
    color: #fff;
}
.dropdown:hover .nav-link {
    /* transition: opacity 1s ease-out; */
    opacity: 1;
}
.dropdown:hover .earth-link {
    top: 45px;
}
.dropdown:hover .mars-link {
    top: 80px;
}
.dropdown:hover .saturn-link {
    top: 115px;
}
