nav {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: left;
	color: var(--highlight);
	width: 100vw;
	padding: 3rem;
}
nav a {
	text-decoration: none;
	color: var(--highlight);
}
.dropdown {
	width: auto;
	display: flex;
	flex-direction: column;
	place-content: center;
	text-decoration: none;
	text-align: start;
	font-family: inherit;
	font-size: 2rem;
	margin-left: 3rem;
	z-index: 2;
}
.dropdown-head {
	border-left: 2px solid var(--primary);
	transition: background-color 0.5s;
	padding: 0.5rem;
	z-index: 1;
}
.dropdown-links {
	display: flex;
	flex-direction: column;
}
.nav-link {
	color: var(--highlight);
	width: 100%;
	display: none;
	padding-left: 0.5rem;
}
.nav-link:hover {
	color: var(--primary);
}
.dropdown-head:hover {
	color: var(--primary);
}
.dropdown:hover .nav-link {
	display: block;
	opacity: 1;
}
#disabled-link {
	opacity: 0.5;
	color: var(--primary);
	text-decoration: none;
	cursor: pointer;
}
@media only screen and (max-width: 767px) {
	.dropdown {
		margin-left: 0.1rem;
		width: 60%;
	}
	.dropdown-head {
		font-size: medium;
	}
	.dropdown-links {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.nav-link {
		font-size: medium;
		width: 50%;
	}
	.nav-link:nth-child(2n) {
		text-align: right;
	}
	nav {
		justify-content: right;
	}
	.dropdown-head {
		text-align: end;
		border-left: none;
		border-right: 2px solid var(--primary);
	}
}
