nav {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: left;
	color: white;
	width: 100vw;
	padding: 3rem;
}
nav a {
	text-decoration: none;
	color: white;
}
.dropdown {
	width: auto;
	display: flex;
	flex-direction: column;
	place-content: center;
	text-decoration: none;
	text-align: start;
	font-family: inherit;
	font-size: 2rem;
	margin-left: 3rem;
	border-left: 2px solid white;
	position: relative;
	z-index: 50;
}
.dropdown-head {
	transition: background-color 0.5s;
	padding: 0.5rem;
	z-index: 20;
}
.nav-link {
	color: white;
	left: 0;
	top: 0;
	display: none;
	position: absolute;
	transition: opacity 0.4s, top 0.4s, background-color 0.2s;
	padding-left: 0.5rem;
}
.nav-link:hover {
	color: #d27685;
}
.dropdown-head:hover {
	color: #d27685;
}
.dropdown:hover .nav-link {
	display: block;
	opacity: 1;
}
