/* saturn */
#saturn {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	/* background: linear-gradient(-25deg, saddlebrown, tan, wheat, tan, wheat, burlywood, moccasin, linen, moccasin, sienna, wheat, linen, wheat, tan, saddlebrown 90%); */
	width: 500px;
	height: 500px;
}

.saturn-border {
	box-shadow: -12px -12px 24px -8px hsla(210, 100%, 95%, 0.75);
}

.saturn-border-inset {
	box-shadow: inset 4px 4px 24px hsla(210, 100%, 95%, 0.95);
}

/* surface */
#saturn-surface {
	animation: rotate-saturn-surface 60s ease-in-out infinite both;
}

#saturn-surface-color-1 {
	position: absolute;
	display: flex;
	width: 110%;
	height: 110%;
	background-image: linear-gradient(to top, saddlebrown, tan, wheat, tan, wheat, burlywood, moccasin, linen, moccasin, sienna, wheat, linen, wheat, tan, saddlebrown);
	animation: move-saturn-surface 60s ease-in-out infinite both;
}

/* rings */
#saturn-rings-back-rotator,
#saturn-rings-front-rotator {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: rotate-saturn-rings 60s ease-in-out infinite both;
}

#saturn-rings-back,
#saturn-rings-front {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: rotate(-25deg);
	animation: resize-saturn-rings 60s 15s ease-in-out infinite both;
	opacity: 0.6;
}

#saturn-rings-back-rotator,
#saturn-rings-back {
	z-index: -1;
}

/* ring color */
:root {
	--saturn-ring-color: transparent 30%, linen, wheat, antiquewhite, linen, antiquewhite, snow, linen, white, transparent, white, antiquewhite, linen, wheat, oldlace, transparent 70%;
}

#saturn-rings-front-top,
#saturn-rings-front-bottom,
#saturn-rings-back-top,
#saturn-rings-back-bottom {
	width: 1500px;
	height: 75px;
}

#saturn-rings-back-top {
	background: radial-gradient(ellipse at bottom, var(--saturn-ring-color));
	border-radius: 100% 100% 0 0;
}

#saturn-rings-front-bottom {
	background: radial-gradient(ellipse at top, var(--saturn-ring-color));
	border-radius: 0 0 500px 500px;
}

#saturn-rings-front-top,
#saturn-rings-back-bottom {
	opacity: 0;
}

/* moons */
#saturn-moon-1 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(0, 0%, 100%), hsl(0, 0%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: saturn-moon-1-resize 100s 25s ease-in-out infinite both;
}

/* moon surface */
#saturn-moon-1-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#saturn-moon-1-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

#saturn-moon-1-orbit {
	animation: saturn-moon-1-orbit 100s ease-in-out infinite both;
}

/* moon 2 */
#saturn-moon-2 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(55, 100%, 90%), hsl(55, 0%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: saturn-moon-2-resize 88s 22s ease-in-out infinite both;
}

/* moon surface */
#saturn-moon-2-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#saturn-moon-2-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

#saturn-moon-2-orbit {
	animation: saturn-moon-2-orbit 88s ease-in-out infinite both;
}

/* moon 3 */
#saturn-moon-3 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(0, 100%, 90%), hsl(0, 0%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: saturn-moon-3-resize 76s 19s ease-in-out infinite both;
}

/* moon surface */
#saturn-moon-3-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#saturn-moon-3-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

#saturn-moon-3-orbit {
	animation: saturn-moon-3-orbit 76s ease-in-out infinite both;
}

/* moon 4 */
#saturn-moon-4 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(200, 100%, 90%), hsl(200, 100%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: saturn-moon-4-resize 64s 16s ease-in-out infinite both;
}

/* moon surface */
#saturn-moon-4-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#saturn-moon-4-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

#saturn-moon-4-orbit {
	animation: saturn-moon-4-orbit 64s ease-in-out infinite both;
}

/* moon 5 */
#saturn-moon-5 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(30, 100%, 90%), hsl(30, 0%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: saturn-moon-5-resize 52s 13s ease-in-out infinite both;
}

/* moon surface */
#saturn-moon-5-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#saturn-moon-5-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

#saturn-moon-5-orbit {
	animation: saturn-moon-5-orbit 52s ease-in-out infinite both;
}

.saturn-moon-border-inset {
	box-shadow: inset 1px 1px 6px hsla(25, 100%, 90%, 0.95);
}

/* animations */
@keyframes rotate-saturn-surface {
	from {
		transform: rotate(-15deg);
	}

	50% {
		transform: rotate(15deg);
	}

	to {
		transform: rotate(-15deg);
	}
}

@keyframes move-saturn-surface {
	from {
		background-position: 0px 0px;
	}

	25% {
		background-position: 0px 20px;
	}

	50% {
		background-position: 0px 0px;
	}

	75% {
		background-position: 0px -20px;
	}

	to {
		background-position: 0px 0px;
	}
}

@keyframes rotate-saturn-rings {
	from {
		transform: rotate(-15deg);
	}

	50% {
		transform: rotate(15deg);
	}

	to {
		transform: rotate(-15deg);
	}
}

@keyframes resize-saturn-rings {
	from {
		transform: scaleY(1);
	}

	50% {
		transform: scaleY(-1);
	}

	to {
		transform: scaleY(1);
	}
}

@keyframes saturn-moon-1-orbit {
	from {
		transform: matrix(1, 0, 0, 1, 900, -350);
		z-index: 5;
	}

	50% {
		transform: matrix(1, 0, 0, 1, -900, 350);
		z-index: 5;
	}

	51% {
		transform: matrix(1, 0, 0, 1, -900, 350);
		z-index: -5;
	}

	to {
		transform: matrix(1, 0, 0, 1, 900, -350);
		z-index: -5;
	}
}

@keyframes saturn-moon-2-orbit {
	from {
		transform: matrix(1, 0, 0, 1, 800, -300);
		z-index: 4;
	}

	50% {
		transform: matrix(1, 0, 0, 1, -800, 300);
		z-index: 4;
	}

	51% {
		transform: matrix(1, 0, 0, 1, -800, 300);
		z-index: -4;
	}

	to {
		transform: matrix(1, 0, 0, 1, 800, -300);
		z-index: -4;
	}
}

@keyframes saturn-moon-3-orbit {
	from {
		transform: matrix(1, 0, 0, 1, 700, -250);
		z-index: 3;
	}

	50% {
		transform: matrix(1, 0, 0, 1, -700, 250);
		z-index: 3;
	}

	51% {
		transform: matrix(1, 0, 0, 1, -700, 250);
		z-index: -3;
	}

	to {
		transform: matrix(1, 0, 0, 1, 700, -250);
		z-index: -3;
	}
}

@keyframes saturn-moon-4-orbit {
	from {
		transform: matrix(1, 0, 0, 1, 600, -200);
		z-index: 2;
	}

	50% {
		transform: matrix(1, 0, 0, 1, -600, 200);
		z-index: 2;
	}

	51% {
		transform: matrix(1, 0, 0, 1, -600, 200);
		z-index: -2;
	}

	to {
		transform: matrix(1, 0, 0, 1, 600, -200);
		z-index: -2;
	}
}

@keyframes saturn-moon-5-orbit {
	from {
		transform: matrix(1, 0, 0, 1, 500, -150);
		z-index: 1;
	}

	50% {
		transform: matrix(1, 0, 0, 1, -500, 150);
		z-index: 1;
	}

	51% {
		transform: matrix(1, 0, 0, 1, -500, 150);
		z-index: -1;
	}

	to {
		transform: matrix(1, 0, 0, 1, 500, -150);
		z-index: -1;
	}
}

/* resize in orbit for perspective */
@keyframes saturn-moon-1-resize {
	0% {
		transform: matrix(0.8, 0, 0, 0.8, 0, 0);
	}

	50% {
		transform: matrix(0.13, 0, 0, 0.13, 0, 0);
	}

	100% {
		transform: matrix(0.8, 0, 0, 0.8, 0, 0);
	}
}

@keyframes saturn-moon-2-resize {
	0% {
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	50% {
		transform: matrix(0.35, 0, 0, 0.35, 0, 0);
	}

	100% {
		transform: matrix(1, 0, 0, 1, 0, 0);
	}
}

@keyframes saturn-moon-3-resize {
	0% {
		transform: matrix(0.6, 0, 0, 0.6, 0, 0);
	}

	50% {
		transform: matrix(0.11, 0, 0, 0.11, 0, 0);
	}

	100% {
		transform: matrix(0.6, 0, 0, 0.6, 0, 0);
	}
}

@keyframes saturn-moon-4-resize {
	0% {
		transform: matrix(0.4, 0, 0, 0.4, 0, 0);
	}

	50% {
		transform: matrix(0.13, 0, 0, 0.13, 0, 0);
	}

	100% {
		transform: matrix(0.4, 0, 0, 0.4, 0, 0);
	}
}

@keyframes saturn-moon-5-resize {
	0% {
		transform: matrix(0.5, 0, 0, 0.5, 0, 0);
	}

	50% {
		transform: matrix(0.11, 0, 0, 0.11, 0, 0);
	}

	100% {
		transform: matrix(0.5, 0, 0, 0.5, 0, 0);
	}
}
