/* uranus */
#uranus {
	background: radial-gradient(circle at 15% 20%, hsl(200, 100%, 75%), hsl(240, 100%, 10%));
}

.uranus-border {
	box-shadow: -12px -12px 24px -8px hsla(210, 100%, 75%, 0.75);
}

.uranus-border-inset {
	box-shadow: inset 4px 4px 24px hsla(210, 100%, 75%, 0.95);
}

/* surface */
#uranus-surface-color-1 {
	animation: spin-surface 20s linear infinite both;
	opacity: 0.75;
}

#uranus-surface-color-2 {
	animation: spin-surface 22s linear infinite both;
	transform: translateY(5%);
	opacity: 0.75;
}

#uranus-surface-color-3 {
	animation: spin-surface 25s linear infinite both;
	transform: translateY(10%);
	opacity: 0.75;
}

/* moons */
.uranus-moon-border-inset {
	box-shadow: inset 1px 1px 6px hsla(210, 100%, 75%, 0.95);
}

/* moon 1 */
#uranus-moon-1 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(0, 0%, 100%), hsl(0, 0%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: uranus-moon-1-resize 174s 43.5s ease-in-out infinite both;
}

#uranus-moon-1-orbit {
	animation: moon-orbit-x-large 174s ease-in-out infinite both;
}

/* moon surface */
#uranus-moon-1-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#uranus-moon-1-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

/* moon 2 */
#uranus-moon-2 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(0, 0%, 100%), hsl(0, 0%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: uranus-moon-2-resize 269.2s 67.3s ease-in-out infinite both;
}

#uranus-moon-2-orbit {
	animation: moon-orbit-large 269.2s ease-in-out infinite both;
}

/* moon surface */
#uranus-moon-2-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#uranus-moon-2-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

/* moon 3 */
#uranus-moon-3 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(0, 0%, 100%), hsl(0, 0%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: uranus-moon-3-resize 82.8s 20.7s ease-in-out infinite both;
}

#uranus-moon-3-orbit {
	animation: moon-orbit-medium 82.8s ease-in-out infinite both;
}

/* moon surface */
#uranus-moon-3-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#uranus-moon-3-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

/* moon 4 */
#uranus-moon-4 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(0, 0%, 100%), hsl(0, 0%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: uranus-moon-4-resize 50.4s 12.6s ease-in-out infinite both;
}

#uranus-moon-4-orbit {
	animation: moon-orbit-small 50.4s ease-in-out infinite both;
}

/* moon surface */
#uranus-moon-4-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#uranus-moon-4-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

/* moon 5 */
#uranus-moon-5 {
	position: absolute;
	background: radial-gradient(circle at 15% 20%, hsl(0, 0%, 100%), hsl(0, 0%, 10%));
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: uranus-moon-5-resize 28s 7s ease-in-out infinite both;
}

#uranus-moon-5-orbit {
	animation: moon-orbit-x-small 28s ease-in-out infinite both;
}

/* moon surface */
#uranus-moon-5-surface-color-1 {
	animation: spin-surface 5s linear infinite both;
}

#uranus-moon-5-surface-color-2 {
	animation: spin-surface 6s linear infinite both;
	transform: translateY(5%);
}

/* resize in orbit for perspective */
@keyframes uranus-moon-1-resize {
	0% {
		transform: matrix(0.15, 0, 0, 0.15, 0, 0);
	}

	50% {
		transform: matrix(0.5, 0, 0, 0.5, 0, 0);
	}

	100% {
		transform: matrix(0.15, 0, 0, 0.15, 0, 0);
	}
}

@keyframes uranus-moon-2-resize {
	0% {
		transform: matrix(0.4, 0, 0, 0.4, 0, 0);
	}

	50% {
		transform: matrix(0.15, 0, 0, 0.15, 0, 0);
	}

	100% {
		transform: matrix(0.4, 0, 0, 0.4, 0, 0);
	}
}

@keyframes uranus-moon-3-resize {
	0% {
		transform: matrix(0.12, 0, 0, 0.12, 0, 0);
	}

	50% {
		transform: matrix(0.3, 0, 0, 0.3, 0, 0);
	}

	100% {
		transform: matrix(0.12, 0, 0, 0.12, 0, 0);
	}
}

@keyframes uranus-moon-4-resize {
	0% {
		transform: matrix(0.2, 0, 0, 0.2, 0, 0);
	}

	50% {
		transform: matrix(0.12, 0, 0, 0.12, 0, 0);
	}

	100% {
		transform: matrix(0.2, 0, 0, 0.2, 0, 0);
	}
}

@keyframes uranus-moon-5-resize {
	0% {
		transform: matrix(0.05, 0, 0, 0.05, 0, 0);
	}

	50% {
		transform: matrix(0.1, 0, 0, 0.1, 0, 0);
	}

	100% {
		transform: matrix(0.05, 0, 0, 0.05, 0, 0);
	}
}
